.loginContainer{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.loginFormContainer{
    max-width: 500px;
    width: 100%;
    border: 1px solid grey;
    padding: 15px;
    border-radius: 5px;
}